<!-- input URL -->
<form action="">
  <input type="text" name="originalURL" class="form-control form-control-lg"  placeholder="http://">
  <button type="submit" class="btn btn-outline-primary">Shorten</button>
</form>